---
import Layout from "../layout/layout.astro"
---

<Layout title="Try Text">
    <div class="container">
    <section class="text">
        <h2>Text</h2>
        <div class="lorem">
            <h3>Lorem...</h3>
            <span class="item1">Lorem ipsum dolor.</span>
            <span class="item2">Lorem ipsum dolor.</span>
            <span class="item3">Lorem ipsum dolor.</span>
        </div>

        <div class="intro">
            <h3>Intro</h3>
            <span class="item1">Hello, I'm Pick & See</span>
            <span class="item2">Hello, I'm Pick & See</span>
            <span class="item3">Hello, I'm Pick & See</span>
        </div>
    </section>

    <section class="paragraph">
        <h2>Paragraph</h2>
        <div class="lorem">
            <h3>Lorem</h3>
            <p class="item1">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia repellat eveniet, asperiores autem culpa minima, sequi soluta voluptatibus unde provident quibusdam ab eligendi dignissimos, aperiam sapiente officiis vel sed repellendus.
            </p>
            <p class="item2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia repellat eveniet, asperiores autem culpa minima, sequi soluta voluptatibus unde provident quibusdam ab eligendi dignissimos, aperiam sapiente officiis vel sed repellendus.
            </p>
            <p class="item3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia repellat eveniet, asperiores autem culpa minima, sequi soluta voluptatibus unde provident quibusdam ab eligendi dignissimos, aperiam sapiente officiis vel sed repellendus.
            </p>
        </div>
        
        <div class="about">
            <h3>About</h3>
            <p class="item1">
                Pick & See es una herramienta para diseñadores web que permite interactuar y probar paletas de colores en entornos y plantillas profesionales, aportando seguridad al momento de escoger una paleta de colores para tu proyecto.
            </p>
            <p class="item2">
                Pick & See es una herramienta para diseñadores web que permite interactuar y probar paletas de colores en entornos y plantillas profesionales, aportando seguridad al momento de escoger una paleta de colores para tu proyecto.
            </p>
            <p class="item3">
                Pick & See es una herramienta para diseñadores web que permite interactuar y probar paletas de colores en entornos y plantillas profesionales, aportando seguridad al momento de escoger una paleta de colores para tu proyecto.
            </p>
        </div>
    </section>
    <section class="headers">
        <h2>Headers</h2>
        <div class="hs">
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
        </div>
        <div class="pys">
            <h1>Pick & See</h1>
            <h2>Pick & See</h2>
            <h3>Pick & See</h3>
        </div>
    </section>
    <section class="links">
        <h2>Links</h2>
        <div class="directions">
        <a href="#" class="item1">Click Here...</a>
        <a href="#" class="item2">Click Here...</a>
        <a href="#" class="item3">Click Here...</a>
        </div>
    </section>
    <section class="boxes"></section>
</div>
</Layout>

<style>
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        background-color: var(--neutral-color);

    }

    section{
        flex-basis: 500px;
    }
    
    .text, .paragraph, .headers, .links{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    section > h2{
        font-size: 3.5rem;
    }

    section > div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .item1{
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    .item2{
        color: var(--secondary-color);
        font-size: 1.3rem;
    }
    
    .item3{
        color: var(--accent-color);
    }

    h1, h2, h3, h4, h5, h6{
        color: var(--primary-color);
    }
</style>